<!DOCTYPE html>
<html>
    <head>
        <title>StockSense</title>
        
        <style>
            .summary{
                border: 50x;
                border-color: black;
            }
        </style>

    </head>
    <body>
        <center>
            <h1>StockSense</h1>
            <form method="post" action="/">
                <label for="company">Company: </label>
                <input type="text" name="company" required>
                <button type="submit">Analyze</button>
            </form>
            <br><br>
        </center>

        <center>
            <div class = "summary">
                <h2>Current Summary:</h2>
                {% if sentiment_report %}
                    <p>{{ sentiment_report }}</p>
                    {% if summary %}
                        <p>{{ summary }}</p>
                    {% endif %}
                
                {% endif %}
            </div>
        </center>
    </body>

</html>